## Financial stock datas using alpha vantage api

#### pip install MySQLdb

In [1]:
# import Dependencies
import pandas as pd
import numpy as np
from splinter import Browser
from bs4 import BeautifulSoup as bs
from datetime import datetime as dt
import requests
import json
import re
import datetime as dt
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

In [2]:
# Build query Url and List of Stocks ticker
# https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=GOOGL&apikey=Y5AE5LOO06SXQ60H
# https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&outputsize=full&apikey=demo
api_url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol="
api_key = "Y5AE5LOO06SXQ60H"

# List of Stocks ticker
tickers = ["CFG","MS","CME","JPM","GS"]
# tickers = ["CFG"]
tickers2 = ["PYPL","MSFT","BRK.A","BRK.B","USB","IBKR","AXP"]

In [3]:
# create and initialize list 
df_list = []
stock_symbol = []
stock_daily_details = []
stock_data = []

In [4]:
for ticker in tickers:
    try:
        url = api_url + ticker + "&outputsize=full&apikey=" + api_key

        stock_details = requests.get(url).json()
        stock_symbol = stock_details["Meta Data"]["2. Symbol"]
        stock_daily_details = stock_details["Time Series (Daily)"]
#         print(stock_daily_details)

        # Save json data for each API call
        with open(f'assets/data/output_api_{ticker}.json', 'w') as outfile:
            json.dump(stock_daily_details, outfile)    

    # If an error is experienced, skip the ticker
    except:
        print("ticker not found. Skipping...")
        pass

In [8]:
# As our api allow certain number of data to be pulled once so addind the sleep comand and again calling the api foe tickers 2
import time
 
# Wait for 5 seconds
time.sleep(50)

In [10]:
for ticker in tickers2:
    try:
        url = api_url + ticker + "&outputsize=full&apikey=" + api_key

        stock_details = requests.get(url).json()
        stock_symbol = stock_details["Meta Data"]["2. Symbol"]
        stock_daily_details = stock_details["Time Series (Daily)"]
#         print(stock_daily_details)

        # Save json data for each API call
        with open(f'assets/data/output_api_{ticker}.json', 'w') as outfile:
            json.dump(stock_daily_details, outfile)
            time.sleep(30)

    # If an error is experienced, skip the ticker
    except:
        print("ticker not found. Skipping...")
        pass

### Reading the json file

In [11]:
df_CFG_t = pd.read_json("assets/data/output_api_CFG.json")
df_MS_t = pd.read_json("assets/data/output_api_MS.json")
df_CME_t = pd.read_json("assets/data/output_api_CME.json")
df_JPM_t = pd.read_json("assets/data/output_api_JPM.json")
df_GS_t = pd.read_json("assets/data/output_api_GS.json")
df_PYPL_t = pd.read_json("assets/data/output_api_PYPL.json")
df_BRKA_t = pd.read_json("assets/data/output_api_BRK.A.json")
df_BRKB_t = pd.read_json("assets/data/output_api_BRK.B.json")
df_USB_t = pd.read_json("assets/data/output_api_USB.json")
df_IBKR_t = pd.read_json("assets/data/output_api_USB.json")
df_AXP_t = pd.read_json("assets/data/output_api_USB.json")

### Cleaning datas for Citizens Financial Group (ticker: CFG)

In [12]:
df_CFG = df_CFG_t.transpose()

In [13]:
# renaming a column
df_CFG = df_CFG.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_CFG.head()

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
2019-07-05,35.95,36.420,35.790,35.89,35.89,2758963.0,0.0,1.0
2019-07-03,35.14,35.580,34.940,35.51,35.51,1999016.0,0.0,1.0
2019-07-02,35.43,35.565,34.775,35.02,35.02,4293428.0,0.0,1.0
2019-07-01,35.79,36.295,35.270,35.60,35.60,4676769.0,0.0,1.0
2019-06-28,35.36,35.750,34.670,35.36,35.36,5347571.0,0.0,1.0

In [14]:
df_CFG_new = df_CFG[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
df_CFG_new.head()

,open,high,low,close,adjusted close,volume,dividend amount
2019-07-05,35.95,36.420,35.790,35.89,35.89,2758963.0,0.0
2019-07-03,35.14,35.580,34.940,35.51,35.51,1999016.0,0.0
2019-07-02,35.43,35.565,34.775,35.02,35.02,4293428.0,0.0
2019-07-01,35.79,36.295,35.270,35.60,35.60,4676769.0,0.0
2019-06-28,35.36,35.750,34.670,35.36,35.36,5347571.0,0.0

In [15]:
# change type to float
df_CFG_new = df_CFG_new.astype(float)

In [16]:
#  adding ticker column
df_CFG_new ['tickers']= 'CFG'

In [17]:
#reindexing 
df_CFG_new = df_CFG_new.reset_index()
df_CFG_new.head()

,index,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,35.95,36.420,35.790,35.89,35.89,2758963.0,0.0,CFG
1,2019-07-03,35.14,35.580,34.940,35.51,35.51,1999016.0,0.0,CFG
2,2019-07-02,35.43,35.565,34.775,35.02,35.02,4293428.0,0.0,CFG
3,2019-07-01,35.79,36.295,35.270,35.60,35.60,4676769.0,0.0,CFG
4,2019-06-28,35.36,35.750,34.670,35.36,35.36,5347571.0,0.0,CFG

In [18]:
# renaming a column
df_CFG_new = df_CFG_new.rename(columns={'index': 'dates'})

In [19]:
df_CFG_new.count()

dates              1203
open               1203
high               1203
low                1203
close              1203
adjusted close     1203
volume             1203
dividend amount    1203
tickers            1203
dtype: int64

In [20]:
# pd.to_datetime(df_CFG_new['dates']).apply(lambda x: x.date())

### Connect to heroku-postgresql database and load converted DataFrame into database

In [21]:
! pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\owner\anaconda\anaconda3\lib\site-packages (2.8.3)

In [22]:
import psycopg2
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_CFG_new.to_sql(name='CFG_stock', con=engine, if_exists = 'replace', index=False)

In [23]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
#     con.execute ('DROP TABLE "CFG_stock";')
    con.execute('ALTER TABLE "CFG_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "CFG_stock" ALTER COLUMN dates TYPE DATE')

In [24]:
pd.read_sql_query('select * from "CFG_stock";',con=engine).head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers,id
0,2019-07-05,35.95,36.420,35.790,35.89,35.89,2758963.0,0.0,CFG,1
1,2019-07-03,35.14,35.580,34.940,35.51,35.51,1999016.0,0.0,CFG,2
2,2019-07-02,35.43,35.565,34.775,35.02,35.02,4293428.0,0.0,CFG,3
3,2019-07-01,35.79,36.295,35.270,35.60,35.60,4676769.0,0.0,CFG,4
4,2019-06-28,35.36,35.750,34.670,35.36,35.36,5347571.0,0.0,CFG,5

In [25]:
# Finally putting transformed dataframe to csv file
df_CFG_new.to_csv('assets/csv/CFG_stock_details.csv',index = True, header = True)

### Cleaning datas for  Morgan Stanley (MS)

In [26]:
# transposing the dataframe
df_MS = df_MS_t.transpose()

In [27]:
# renaming a column
df_MS = df_MS.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_MS_new = df_MS[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
# change type to float
df_MS_new = df_MS_new.astype(float)
#  adding ticker column
df_MS_new ['tickers']= 'MS'

In [28]:
df_MS_new = df_MS_new.reset_index()
# renaming a column
df_MS_new = df_MS_new.rename(columns={'index': 'dates'})

In [29]:
df_MS_new.head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,44.49,44.815,44.07,44.21,44.21,6274874.0,0.0,MS
1,2019-07-03,43.95,44.145,43.82,43.99,43.99,4470788.0,0.0,MS
2,2019-07-02,43.70,43.925,43.40,43.83,43.83,8234802.0,0.0,MS
3,2019-07-01,44.59,45.055,43.52,43.95,43.95,12225118.0,0.0,MS
4,2019-06-28,44.20,44.565,43.74,43.81,43.81,15445649.0,0.0,MS

### Connect to local database and load converted DataFrame into database

In [ ]:
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_MS_new.to_sql(name='MS_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
    con.execute(' ALTER TABLE "MS_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "MS_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
df_MS = pd.read_sql_query('select * from "MS_stock"',con=engine)
df_MS.head()

In [33]:
# Finally putting transformed dataframe to csv file
df_MS_new.to_csv('assets/csv/MS_stock_details.csv',index = True, header = True)

### Cleaning datas for CME Group (CME)

In [34]:
# transposing the dataframe
df_CME = df_CME_t.transpose()

In [35]:
# renaming a column
df_CME = df_CME.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_CME_new = df_CME[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
# change type to float
df_CME_new = df_CME_new.astype(float)
#  adding ticker column
df_CME_new ['tickers']= 'CME'

In [36]:
df_CME_new = df_CME_new.reset_index()
# renaming a column
df_CME_new = df_CME_new.rename(columns={'index': 'dates'})

In [37]:
df_CME_new.head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,201.83,203.35,200.590,202.81,202.81,884617.0,0.0,CME
1,2019-07-03,200.00,201.70,199.200,201.67,201.67,865103.0,0.0,CME
2,2019-07-02,196.30,200.36,195.360,199.77,199.77,1031546.0,0.0,CME
3,2019-07-01,195.47,196.99,193.375,196.59,196.59,1421118.0,0.0,CME
4,2019-06-28,194.74,194.99,193.050,194.11,194.11,2138854.0,0.0,CME

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_CME_new.to_sql(name='CME_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
    con.execute(' ALTER TABLE "CME_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "CME_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
pd.read_sql_query('select * from "CME_stock"', con=engine).head()

In [39]:
# Finally putting transformed dataframe to csv file
df_CME_new.to_csv('assets/csv/CME_stock_details.csv',index = True, header = True)

### Cleaning datas for  JPMorgan Chase & Co. (JPM)

In [40]:
# transposing the dataframe
df_JPM = df_JPM_t.transpose()

In [41]:
# renaming a column
df_JPM = df_JPM.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_JPM_new = df_JPM[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
# change type to float
df_JPM_new = df_JPM_new.astype(float)
#  adding ticker column
df_JPM_new ['tickers']= 'JPM'

In [42]:
df_JPM_new = df_JPM_new.reset_index()
# renaming a column
df_JPM_new = df_JPM_new.rename(columns={'index': 'dates'})

In [43]:
df_JPM_new.count()

dates              5411
open               5411
high               5411
low                5411
close              5411
adjusted close     5411
volume             5411
dividend amount    5411
tickers            5411
dtype: int64

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_JPM_new.to_sql(name='JPM_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
    con.execute(' ALTER TABLE "JPM_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "JPM_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
pd.read_sql_query('select * from "JPM_stock"', con=engine).head()

In [44]:
# Finally putting transformed dataframe to csv file
df_JPM_new.to_csv('assets/csv/JPM_stock_details.csv',index = True, header = True)

### Cleaning datas for  Goldman Sachs Group (GS)

In [45]:
# transposing the dataframe
df_GS = df_GS_t.transpose()

In [46]:
# renaming a column
df_GS = df_GS.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_GS_new = df_GS[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
# change type to float
df_GS_new = df_GS_new.astype(float)
#  adding ticker column
df_GS_new ['tickers']= 'GS'

In [47]:
df_GS_new = df_GS_new.reset_index()
# renaming a column
df_GS_new = df_GS_new.rename(columns={'index': 'dates'})

In [48]:
df_GS_new.head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,206.86,208.760,206.200,207.90,207.90,1509778.0,0.0,GS
1,2019-07-03,207.30,207.400,205.230,206.04,206.04,978795.0,0.0,GS
2,2019-07-02,205.40,206.305,204.160,205.98,205.98,1626880.0,0.0,GS
3,2019-07-01,208.00,209.850,205.735,206.86,206.86,2468489.0,0.0,GS
4,2019-06-28,203.50,205.840,202.940,204.60,204.60,4854919.0,0.0,GS

In [49]:
df_GS_new.count()

dates              5076
open               5076
high               5076
low                5076
close              5076
adjusted close     5076
volume             5076
dividend amount    5076
tickers            5076
dtype: int64

In [50]:
# Finally putting transformed dataframe to csv file
df_GS_new.to_csv('assets/csv/GS_stock_details.csv',index = True, header = True)

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
import psycopg2
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_GS_new.to_sql(name='GS_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
    con.execute(' ALTER TABLE "GS_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "GS_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
pd.read_sql_query('select * from "GS_stock"', con=engine).head()

### Cleaning datas for  PayPal Holdings (PYPL)

In [51]:
# transposing the dataframe
df_PYPL = df_PYPL_t.transpose()

In [52]:
# renaming a column
df_PYPL = df_PYPL.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_PYPL_new = df_PYPL[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
# change type to float
df_PYPL_new = df_PYPL_new.astype(float)
#  adding ticker column
df_PYPL_new ['tickers']= 'PYPL'

In [53]:
df_PYPL_new = df_PYPL_new.reset_index()
# renaming a column
df_PYPL_new = df_PYPL_new.rename(columns={'index': 'dates'})

In [54]:
df_PYPL_new.head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,116.54,117.40,114.69,117.16,117.16,3801032.0,0.0,PYPL
1,2019-07-03,116.88,117.72,116.06,117.68,117.68,3288929.0,0.0,PYPL
2,2019-07-02,115.18,116.20,114.58,116.17,116.17,4155388.0,0.0,PYPL
3,2019-07-01,116.72,116.75,114.35,115.03,115.03,5709683.0,0.0,PYPL
4,2019-06-28,114.24,114.62,113.33,114.46,114.46,6679793.0,0.0,PYPL

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
import psycopg2
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_PYPL_new.to_sql(name='PYPL_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
    con.execute(' ALTER TABLE "PYPL_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "PYPL_stock" ALTER COLUMN dates TYPE DATE;')

In [ ]:
pd.read_sql_query('select * from "PYPL_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_PYPL_new.to_csv('assets/csv/PYPL_stock_details.csv',index = True, header = True)

### Cleaning datas for  Berkshire Hathaway (BRK.A)

In [55]:
# transposing the dataframe
df_BRKA = df_BRKA_t.transpose()

In [56]:
# renaming a column
df_BRKA = df_BRKA.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_BRKA_new = df_BRKA[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
# change type to float
df_BRKA_new = df_BRKA_new.astype(float)
#  adding ticker column
df_BRKA_new ['tickers']= 'BRK.A'

In [57]:
df_BRKA_new = df_BRKA_new.reset_index()
# renaming a column
df_BRKA_new = df_BRKA_new.rename(columns={'index': 'dates'})

In [58]:
df_BRKA_new.head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,322600.00,323642.0,320918.00,323149.0,323149.0,190.0,0.0,BRK.A
1,2019-07-03,321815.01,322900.0,319119.59,322900.0,322900.0,156.0,0.0,BRK.A
2,2019-07-02,320600.01,323250.0,320413.00,321515.0,321515.0,188.0,0.0,BRK.A
3,2019-07-01,321032.25,322700.0,319943.00,321891.0,321891.0,433.0,0.0,BRK.A
4,2019-06-28,319400.00,319960.0,317106.67,318350.0,318350.0,260.0,0.0,BRK.A

In [59]:
df_BRKA_new.count()

dates              5411
open               5411
high               5411
low                5411
close              5411
adjusted close     5411
volume             5411
dividend amount    5411
tickers            5411
dtype: int64

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
import psycopg2
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_BRKA_new.to_sql(name='BRKA_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
    con.execute(' ALTER TABLE "BRKA_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "BRKA_stock" ALTER COLUMN dates TYPE DATE;')

In [ ]:
df_BRKA = pd.read_sql_query('select * from "BRKA_stock"', con=engine)
df_BRKA.head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_BRKA_new.to_csv('assets/csv/BRKA_stock_details.csv',index = True, header = True)

### Cleaning datas for  Berkshire Hathaway (BRK.B)

In [60]:
# transposing the dataframe
df_BRKB = df_BRKB_t.transpose()

In [61]:
# renaming a column
df_BRKB = df_BRKB.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_BRKB_new = df_BRKB[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
# change type to float
df_BRKB_new = df_BRKB_new.astype(float)
#  adding ticker column
df_BRKB_new ['tickers']= 'BRK.B'

In [62]:
df_BRKB_new = df_BRKB_new.reset_index()
# renaming a column
df_BRKB_new = df_BRKB_new.rename(columns={'index': 'dates'})

In [63]:
df_BRKB_new.head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,215.13,215.77,213.90,215.25,215.25,3324183.0,0.0,BRK.B
1,2019-07-03,215.00,215.25,212.66,215.16,215.16,2489136.0,0.0,BRK.B
2,2019-07-02,214.38,215.59,213.40,214.54,214.54,3054355.0,0.0,BRK.B
3,2019-07-01,214.25,215.21,213.21,214.62,214.62,3467241.0,0.0,BRK.B
4,2019-06-28,213.00,213.33,211.32,213.17,213.17,7472388.0,0.0,BRK.B

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_BRKB_new.to_sql(name='BRKB_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
    con.execute(' ALTER TABLE "BRKB_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "BRKB_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
pd.read_sql_query('select * from "BRKB_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_BRKB_new.to_csv('assets/csv/BRKB_stock_details.csv',index = True, header = True)

### Cleaning datas for   U.S. Bancorp (USB)

In [64]:
# transposing the dataframe
df_USB = df_USB_t.transpose()

In [65]:
# renaming a column
df_USB = df_USB.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_USB_new = df_USB[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
# change type to float
df_USB_new = df_USB_new.astype(float)
#  adding ticker column
df_USB_new ['tickers']= 'USB'

In [66]:
df_USB_new = df_USB_new.reset_index()
# renaming a column
df_USB_new = df_USB_new.rename(columns={'index': 'dates'})

In [67]:
df_USB_new.count()

dates              5411
open               5411
high               5411
low                5411
close              5411
adjusted close     5411
volume             5411
dividend amount    5411
tickers            5411
dtype: int64

In [68]:
df_USB_new.head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,53.55,53.840,53.350,53.68,53.68,3195295.0,0.0,USB
1,2019-07-03,53.07,53.345,52.900,53.25,53.25,2102684.0,0.0,USB
2,2019-07-02,52.88,53.190,52.625,52.93,52.93,3175187.0,0.0,USB
3,2019-07-01,52.93,53.220,52.750,53.01,53.01,3894938.0,0.0,USB
4,2019-06-28,52.39,52.750,52.080,52.40,52.40,10087090.0,0.0,USB

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_USB_new.to_sql(name='USB_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
    con.execute(' ALTER TABLE "USB_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "USB_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
pd.read_sql_query('select * from "USB_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_USB_new.to_csv('assets/csv/USB_stock_details.csv',index = True, header = True)

### Cleaning datas for  Interactive Brokers (IBKR)

In [69]:
# transposing the dataframe
df_IBKR = df_IBKR_t.transpose()

In [70]:
# renaming a column
df_IBKR = df_IBKR.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_IBKR_new = df_IBKR[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
# change type to float
df_IBKR_new = df_IBKR_new.astype(float)
#  adding ticker column
df_IBKR_new ['tickers']= 'IBKR'

In [71]:
df_IBKR_new = df_IBKR_new.reset_index()
# renaming a column
df_IBKR_new = df_IBKR_new.rename(columns={'index': 'dates'})

In [72]:
df_IBKR_new.count()

dates              5411
open               5411
high               5411
low                5411
close              5411
adjusted close     5411
volume             5411
dividend amount    5411
tickers            5411
dtype: int64

In [73]:
df_IBKR_new.head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,53.55,53.840,53.350,53.68,53.68,3195295.0,0.0,IBKR
1,2019-07-03,53.07,53.345,52.900,53.25,53.25,2102684.0,0.0,IBKR
2,2019-07-02,52.88,53.190,52.625,52.93,52.93,3175187.0,0.0,IBKR
3,2019-07-01,52.93,53.220,52.750,53.01,53.01,3894938.0,0.0,IBKR
4,2019-06-28,52.39,52.750,52.080,52.40,52.40,10087090.0,0.0,IBKR

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_IBKR_new.to_sql(name='IBKR_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
    con.execute(' ALTER TABLE "IBKR_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "IBKR_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
pd.read_sql_query('select * from "IBKR_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_IBKR_new.to_csv('assets/csv/IBKR_stock_details.csv',index = True, header = True)

### Cleaning datas for American Express Co. (AXP)

In [74]:
# transposing the dataframe
df_AXP = df_AXP_t.transpose()

In [75]:
# renaming a column
df_AXP = df_AXP.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_AXP_new = df_AXP[["open", "high", "low","close","adjusted close","volume","dividend amount"]].copy()
# change type to float
df_AXP_new = df_AXP_new.astype(float)
#  adding ticker column
df_AXP_new ['tickers']= 'AXP'

In [76]:
df_AXP_new = df_AXP_new.reset_index()
# renaming a column
df_AXP_new = df_AXP_new.rename(columns={'index': 'dates'})

In [77]:
df_AXP_new.count()

dates              5411
open               5411
high               5411
low                5411
close              5411
adjusted close     5411
volume             5411
dividend amount    5411
tickers            5411
dtype: int64

In [78]:
df_AXP_new.head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,53.55,53.840,53.350,53.68,53.68,3195295.0,0.0,AXP
1,2019-07-03,53.07,53.345,52.900,53.25,53.25,2102684.0,0.0,AXP
2,2019-07-02,52.88,53.190,52.625,52.93,52.93,3175187.0,0.0,AXP
3,2019-07-01,52.93,53.220,52.750,53.01,53.01,3894938.0,0.0,AXP
4,2019-06-28,52.39,52.750,52.080,52.40,52.40,10087090.0,0.0,AXP

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_AXP_new.to_sql(name='AXP_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# to add the auto increament primary key "id"
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
with engine.connect() as con:
    con.execute(' ALTER TABLE "AXP_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "AXP_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
pd.read_sql_query('select * from "AXP_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_AXP_new.to_csv('assets/csv/AXP_stock_details.csv',index = True, header = True)

### Concating the dataframe to eventually make a final dataframe

In [79]:
df_final = pd.concat([df_CFG_new,df_MS_new,df_CME_new,df_JPM_new,df_GS_new,df_PYPL_new,df_BRKA_new,df_BRKB_new,df_USB_new,df_IBKR_new,df_AXP_new]).drop_duplicates()
df_final.head()

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,35.95,36.420,35.790,35.89,35.89,2758963.0,0.0,CFG
1,2019-07-03,35.14,35.580,34.940,35.51,35.51,1999016.0,0.0,CFG
2,2019-07-02,35.43,35.565,34.775,35.02,35.02,4293428.0,0.0,CFG
3,2019-07-01,35.79,36.295,35.270,35.60,35.60,4676769.0,0.0,CFG
4,2019-06-28,35.36,35.750,34.670,35.36,35.36,5347571.0,0.0,CFG

In [80]:
# Sorting values of dates in decending order
df_sort = df_final.sort_values(['dates'], ascending=[False])
# to do reset index
df_stock = df_sort.reset_index()
df_stock.head(10)

,index,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,0,2019-07-05,35.95,36.420,35.79,35.89,35.89,2758963.0,0.0,CFG
1,0,2019-07-05,215.13,215.770,213.90,215.25,215.25,3324183.0,0.0,BRK.B
2,0,2019-07-05,53.55,53.840,53.35,53.68,53.68,3195295.0,0.0,IBKR
3,0,2019-07-05,53.55,53.840,53.35,53.68,53.68,3195295.0,0.0,USB
4,0,2019-07-05,206.86,208.760,206.20,207.90,207.90,1509778.0,0.0,GS
5,0,2019-07-05,44.49,44.815,44.07,44.21,44.21,6274874.0,0.0,MS
6,0,2019-07-05,201.83,203.350,200.59,202.81,202.81,884617.0,0.0,CME
7,0,2019-07-05,53.55,53.840,53.35,53.68,53.68,3195295.0,0.0,AXP
8,0,2019-07-05,116.54,117.400,114.69,117.16,117.16,3801032.0,0.0,PYPL
9,0,2019-07-05,322600.00,323642.000,320918.00,323149.00,323149.00,190.0,0.0,BRK.A

In [81]:
df_stock = df_stock[["dates", "open", "high", "low", "close", "adjusted close", "volume", "dividend amount", "tickers"]].copy()
df_stock.head(10)

,dates,open,high,low,close,adjusted close,volume,dividend amount,tickers
0,2019-07-05,35.95,36.420,35.79,35.89,35.89,2758963.0,0.0,CFG
1,2019-07-05,215.13,215.770,213.90,215.25,215.25,3324183.0,0.0,BRK.B
2,2019-07-05,53.55,53.840,53.35,53.68,53.68,3195295.0,0.0,IBKR
3,2019-07-05,53.55,53.840,53.35,53.68,53.68,3195295.0,0.0,USB
4,2019-07-05,206.86,208.760,206.20,207.90,207.90,1509778.0,0.0,GS
5,2019-07-05,44.49,44.815,44.07,44.21,44.21,6274874.0,0.0,MS
6,2019-07-05,201.83,203.350,200.59,202.81,202.81,884617.0,0.0,CME
7,2019-07-05,53.55,53.840,53.35,53.68,53.68,3195295.0,0.0,AXP
8,2019-07-05,116.54,117.400,114.69,117.16,117.16,3801032.0,0.0,PYPL
9,2019-07-05,322600.00,323642.000,320918.00,323149.00,323149.00,190.0,0.0,BRK.A

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
df_stock.to_sql(name='Stock_all', con=engine, if_exists = 'replace', index=False)
with engine.connect() as con:
    con.execute(' ALTER TABLE "Stock_all" ADD COLUMN id SERIAL PRIMARY KEY;')
    con.execute('ALTER TABLE "Stock_all" ALTER COLUMN dates TYPE DATE;')

In [ ]:
pd.read_sql_query('select * from "Stock_all"', con=engine).head(10)

### Final stock dataframe to csv

In [82]:
# Finally putting transformed dataframe to csv file
df_stock.to_csv('assets/csv/Merged_stock_details.csv',index = True, header = True)